{% extends 'users/user_base.html' %}
{% load crispy_forms_tags %}
{% block active_content_header %}
<div class="btn-group">
{% for settings_tab in settings_tabs  %}
    <h2>
        <a href={{ settings_tab.url }} role="button" class="btn btn-primary{% if settings_tab.active %}active btn-outline-primary{% endif %}"><span class="fa fa-cog"></span> {{ settings_tab.name }}</a>
    </h2>
{% endfor %}
</div>
{% endblock %}
{% block active_content %}
<div class='col'>
    {% crispy form %}
</div>
{% endblock %}
