{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class='container-fluid full-height' role='main'>
    <div class='row full-height'>
        <!--functions-->
        <div class='col-sm-2' style='background-color:#111111; color:white;'>
            <div class='row p-2'>
                <div class='col'>
                <img src="{% static "main_icon.jpg"  %}" class="rounded img-fluid" style='height:auto; width:100%;' alt="">
                </div>
            </div>
            <div class='row p-5'>
                <p>Hello {{ user.username }}</p>
            </div>
            <div class='row p-2'>
                <a href={% url 'admin:logout' %} role="button" class="btn btn-outline-primary">Logout</a>
            </div>
        </div>
        <!--User profile content -->
        <div class='col'>
            <div class='row p-3'>
            </div>
        </div>
    </div>
</main>
{% endblock %}
