{% extends 'users/user_base.html' %}
{% load static %}
{% block active_content_header %}
<div class=col'>
    <h2>
        <span class='fa fa-bell'></span> Notifications
    </h2>
</div>
{% endblock %}
{% block active_content %}
{% endblock %}
{% block inline_javascript %}
<!-- Modal to notify users that they should create a BUP -->
<div class="modal fade" id="request-bup-creation-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create a BUP to to get rolling</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>We see that you have not registered a BUP yet.</p>
                <p>BUPs are required to get access to the BUP dashboards.</p>
                <p>If you choose not to create a BUP now, you can always create one from the settings menu</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Not yet, thanks</button>
                <div class="dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                        Create a BUP
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'student-profile-create' %}">Student</a>
                        <a class="dropdown-item" href="{% url 'teacher-profile-create' %}">Teacher</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Request BUP create if user has no BUPs-->
{% if not request.user.is_student and not request.user.is_teacher %}
<script type="text/javascript">
$(document).ready(function() {
    $("#request-bup-creation-modal").modal();
})
</script>
{% endif %}
{% endblock %}

